@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Gotham Medium";
  src: url("./fonts/gotham-medium-webfont.woff2") format("woff2"), url("./fonts/gotham-medium-webfont.woff") format("woff");
  font-family: "Gotham Bold";
  src: url("./fonts/gothambold1.ttf") format("true-type"), url("./fonts/gothambold1.woff") format("woff");
  font-family: "Gotham Book";
  src: url("./fonts/GothamBook.ttf") format("true-type"), url("./fonts/GothamBook.woff") format("woff");
}

.social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-item {
  border: 1px solid rgba(255, 255, 255, 0.411);
  border-radius: 50%;
  width: 39px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
}

.social-ico {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
  opacity: 1 !important;
}

.hr-line {
  border-top: 1px solid #2c4058;
  width: 100px;
  margin: 0 auto;
  margin-top: 140px;
  height: 1px;
}

.social-item:hover {
  background: #fff;
  color: #55b7ff;
}

.social-item:active {
  color: #7e5aff;
}

.button:hover {
  background: #2f88c7;
  color: #fff;
  border-color: #2f88c7;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.button {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.button:active {
  -webkit-transition: all 0.05s ease;
  transition: all 0.05s ease;
  background: rgba(85, 59, 182, 0.555);
  outline: none;
}

.add-visibility {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-dots button {
  border: 1px solid #fff;
  cursor: pointer;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.header {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .nav {
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 500;
  position: fixed;
  left: 0px;
  right: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.header .nav__logo-box {
  margin-right: 5%;
  width: 242px;
}

.header .nav__nav-box {
  width: 59.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.header .nav__item {
  margin-left: 5%;
  right: 5%;
  width: 165px;
}

.header .nav__circle {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.header .nav__text {
  font-size: 14px;
  font-family: "Gotham Bold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.header .nav__logo {
  width: 100%;
  height: auto;
}

.header__slider {
  margin-top: 0px;
}

.header .header__slide {
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: -1px;
}

.header .header__slide--1 {
  background-image: url(./images/header/bg1.jpg);
}

.header .header__slide--2 {
  background-image: url(./images/header/bg2.jpg);
}

.header .header__slide--3 {
  background-image: url(./images/header/bg3.jpg);
}

.header .header__slide--4 {
  background-image: url(./images/header/bg4.jpg);
}

.header .header__slide--5 {
  background-image: url(./images/header/bg5.jpg);
}

.header__title {
  font-size: 80px;
  font-family: "Gotham Bold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.07em;
  margin-top: 60px;
}

.header__subtitle {
  font-size: 18px;
  font-family: "Gotham Book", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.slide-down {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 39px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: 715px;
  bottom: 0px;
}

.arrow-down {
  font-size: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__slider .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  position: absolute;
  bottom: 300px;
  right: 5%;
  height: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15px;
  list-style: none;
  z-index: 999;
}

.header__slider .slick-dots button {
  width: 10px !important;
  height: 10px !important;
  font-size: 0 !important;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff !important;
}

.header__slider .slick-active button {
  background-color: white !important;
}

.nav-scroll-script {
  margin-top: -45px;
  background-color: rgba(93, 156, 244, 0.604) !important;
  padding-bottom: 5px;
}

.nav__link:hover {
  text-decoration: none;
}

.nav__link:hover .nav__circle {
  background: #fff;
}

.nav__link:active {
  text-decoration: none;
}

.nav__link:active .nav__circle {
  background: #7e5aff;
}

.burger-menu {
  position: absolute;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0%;
  top: 50px;
  background: rgba(93, 156, 244, 0.604);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  padding: 12px 10px 0px 10px;
}

.burger-menu a .nav__item {
  height: 40px;
}

.burger {
  margin-right: 8px;
}

.burger__button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 28px;
}

.burger__button:hover, .burger__button:active {
  color: #55b7ff;
}

.burger__button:focus {
  outline: none;
}

.slide-down {
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
  cursor: pointer;
}

.slide-down:hover {
  background: rgba(85, 184, 255, 0.424);
}

.slide-down:active {
  background: rgba(126, 90, 255, 0.219);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

@media (max-width: 1200px) {
  .nav__item {
    width: 120px !important;
  }
  .nav__nav-box {
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  .nav__nav-box {
    display: none !important;
  }
  .nav__social-box {
    margin: 0 auto;
  }
  .burger {
    display: block;
  }
}

@media (min-width: 993px) {
  .burger {
    display: none;
  }
  .burger-menu {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .nav__logo-box {
    width: 35% !important;
  }
  .nav__social-box {
    width: 35% !important;
  }
  .burger {
    margin-bottom: 3px;
  }
  .nav__wrapper {
    width: 100vw !important;
  }
}

@media (max-width: 560px) {
  .header__title {
    font-size: 52px;
  }
}

.projects {
  width: 100%;
  margin: 0 auto;
  min-height: 1630px;
}

.projects__hr-line {
  border-top: 1px solid #2c4058;
  width: 100px;
  margin: 0 auto;
  margin-top: 100px;
  height: 1px;
}

.projects__title {
  font-family: "Gotham Bold", sans-serif;
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: -10px;
  padding-top: 40px;
}

.projects__section {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.projects__section--second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 140px;
}

.projects__decor-box {
  background-color: #55b7ff;
  height: 410px;
  min-width: 585px;
  min-height: 320px;
  position: absolute;
  z-index: -5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.projects__decor-box--blue {
  left: 0;
}

.projects__decor-box--purple {
  background-color: #7e5aff;
  right: 0;
}

.projects__img-section {
  height: 100%;
  width: auto;
}

.projects__img-section--first {
  margin-top: 70px;
  margin-left: 50px;
}

.projects__img-section--second {
  margin-top: 70px;
  margin-right: 50px;
}

.projects__img {
  width: 100%;
  height: auto;
}

.projects__description-box {
  width: 25%;
  margin-top: 125px;
}

.projects__description-box--first {
  margin-left: 11.5%;
}

.projects__description-box--second {
  margin-right: 11.5%;
}

.projects__subtitle {
  font-size: 22px;
  font-family: "Gotham Book", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #2c4058;
}

.projects__card-title {
  font-family: "Gotham Bold", sans-serif;
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  font-weight: 600;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-top: -5px;
  margin-bottom: 22px;
}

.projects__description {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #4b5562;
  line-height: 1.65em;
}

.projects__btn {
  border: 1px solid #2c4058;
  width: 190px;
  height: 50px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Gotham Book", sans-serif;
  font-size: 14px;
  margin-top: 16px;
}

.projects__location {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-top: 55px;
}

.projects__pointer-mark {
  margin-right: 6px;
  font-size: 16px;
}

@media (max-width: 1465px) {
  .projects__img-section--first {
    width: 55%;
  }
  .projects__img-section--second {
    width: 55%;
  }
  .projects__description-box {
    width: 45%;
  }
}

@media (max-width: 1155px) {
  .projects__decor-box {
    width: 45%;
    max-height: 300px;
  }
}

@media (max-width: 960px) {
  .projects__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects__description-box {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    text-align: center;
  }
  .projects__img-section--first {
    width: 75%;
  }
  .projects__img-section--second {
    width: 75%;
  }
  .projects__decor-box {
    min-width: 320px;
  }
  .projects__description-box {
    width: 45%;
  }
}

@media (max-width: 790px) {
  .projects__img-section--first {
    margin: 0 auto;
  }
  .projects__img-section--second {
    margin: 0 auto;
  }
  .projects__description-box {
    width: 100%;
  }
  .projects__img-section {
    width: 85%;
  }
  .projects__decor-box {
    max-width: 100vw !important;
  }
  .projects__section--second {
    margin-top: 20px;
  }
  .projects__card-title {
    font-size: 32px;
  }
}

@media (max-width: 450px) {
  .projects__subtitle {
    margin-top: 70px;
  }
}

.news-wrapper {
  background-image: url(./images/news/Bg.jpg);
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1035px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__hr-line {
  border-top: 1px solid #fff;
  width: 100px;
  margin: 0 auto;
  margin-top: 140px;
}

.news__title {
  font-family: "Gotham Medium", sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-top: 30px;
  margin-bottom: 90px;
}

.news__card {
  width: 370px;
  height: 514px;
  background: #fff;
  margin-left: 15px;
  margin-right: 15px;
}

.news__image-box {
  width: 370px;
}

.news__info-wrapper {
  padding: 20px;
}

.news__card-title {
  font-size: 22px;
  font-family: "Gotham Bold", sans-serif;
  color: #2c4058;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.55em;
}

.news__card-subtitle {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #4b5562;
  margin-top: -3px;
  line-height: 1.65em;
}

.news__author-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.news__author-date {
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 20px;
}

.news__author-name {
  font-size: 18px;
  font-family: "Gotham Book", sans-serif;
  color: #2c4058;
  text-transform: uppercase;
  margin-top: -10px;
}

.news__date {
  font-size: 14px;
  font-family: "Gotham Book", sans-serif;
  color: #55b7ff;
  margin-top: -15px;
}

.news__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto !important;
  max-width: 1200px;
}

.news__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: -110px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 215px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.news__slider .slick-dots button {
  width: 10px !important;
  height: 10px !important;
  font-size: 0 !important;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.news__slider .slick-active button {
  background-color: white !important;
}

.news__slider .slick-prev {
  font-size: 0 !important;
  background-image: url(./images/news/arLl.png);
  background-repeat: no-repeat;
  background-position: center;
  left: -90px;
}

.news__slider .slick-next {
  font-size: 0 !important;
  background-image: url(./images/news/arRr.png);
  background-repeat: no-repeat;
  background-position: center;
  right: -90px;
}

.news__slider .slick-arrow {
  position: absolute;
  top: 45.5%;
  z-index: 0;
  font-size: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.news__slider .slick-arrow .slick-list {
  overflow: hidden;
}

.news__slider .slick-arrow .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1410px) {
  .news__slider {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  .news__slider {
    width: 780px;
  }
}

@media (max-width: 1000px) {
  .news__slider {
    width: 380px;
  }
}

.slick-arrow:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slick-arrow:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slick-arrow:focus {
  outline: none;
}

.gallery {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery__title {
  font-family: "Gotham Medium", sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
  letter-spacing: 0.030em;
  margin-bottom: 90px;
}

.gallery__img-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.gallery__img-box--big {
  width: 49.5%;
}

.gallery__images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49.5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: auto;
  max-height: 447px;
  height: 447px;
}

.gallery__btn {
  border: 1px solid #2c4058;
  width: 190px;
  height: 50px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Gotham Book", sans-serif;
  font-size: 14px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-bottom: 142px;
}

@media (max-width: 1300px) {
  .gallery__img-box-wrapper {
    width: 580px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 auto;
  }
  .gallery__img-box--big {
    width: 580px;
    margin-bottom: 10px;
  }
  .gallery__images-container {
    width: 580px;
  }
  .gallery__btn {
    margin-bottom: 60px;
  }
}

@media (max-width: 620px) {
  .gallery__img-box-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
  .gallery__img-box--big {
    width: 100%;
    margin-bottom: 10px;
  }
  .gallery__images-container {
    width: 100%;
    max-width: 580px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .gallery__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .gallery__images-container {
    width: 100% !important;
    max-width: 580px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery__img-box {
    width: 49%;
    margin-bottom: 10px;
  }
  .gallery__btn {
    margin-bottom: 30px;
  }
}

#map {
  height: 700px;
  width: 100%;
  background-color: grey;
}

.contact__contact-box {
  background-image: url(./images/contact/bg.png);
  background-position-y: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: 770px;
  margin: 0 auto;
  margin-top: -300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px -4px 30px 0px rgba(133, 133, 133, 0.2);
          box-shadow: 0px -4px 30px 0px rgba(133, 133, 133, 0.2);
  position: relative;
  background-color: #fff;
}

.contact__hr-line {
  margin-top: 60px;
  margin-bottom: 20px;
}

.contact__title {
  font-family: "Gotham Medium", sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.035em;
  width: 100%;
  text-align: center;
}

.contact__contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 55px 55px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__info {
  font-size: 18px;
  margin-top: 10px;
  font-family: "Gotham Book", sans-serif;
  color: #2c4058;
  font-weight: 600;
  padding-left: 10px;
}

.contact__info-item {
  margin-bottom: 30px;
}

.contact__ico {
  color: #7e5aff;
  font-size: 15px;
  padding-right: 10px;
}

.contact__input-box {
  width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__name, .contact__email {
  width: 100%;
  height: 50px;
  border: none;
  color: #2c4058;
  font-size: 18px;
  font-family: "Gotham Book", sans-serif;
  opacity: 0.5;
  border-bottom: solid 1px #2c4058;
}

.contact__btn {
  border: 1px solid #2c4058;
  width: 190px;
  height: 50px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Gotham Book", sans-serif;
  font-size: 14px;
  width: 140px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 5px;
}

.contact__name, .contact__email, .contact__btn {
  margin-bottom: 25px;
}

@media (max-width: 810px) {
  .contact__contact-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .contact__contact-box {
    width: 100%;
    margin: 0;
  }
  #map {
    height: 500px;
  }
}

@media (max-width: 450px) {
  .contact__title {
    font-size: 38px;
  }
  .contact__input-box {
    width: 100%;
    font-size: 15px;
    padding: 0;
  }
  .contact__contact-wrap {
    width: 100%;
  }
}

.contact__name:hover, .contact__email:hover {
  opacity: 1;
}

.contact__name:active, .contact__email:active {
  outline: none;
  border: none;
}

.footer-wrapper {
  background-image: url(./images/footer/bg.jpg);
  height: 525px;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px !important;
  padding-top: 215px;
  margin-top: -159px;
}

.footer__logo-social-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: "Gotham Book", sans-serif;
  font-size: 14px;
  margin-top: 35px;
}

.footer__copyrights {
  padding-right: 20px;
  border-right: 1px solid #fff;
}

.footer__author {
  padding-left: 20px;
}

@media (max-width: 576px) {
  .footer__logo-social-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo-box {
    margin: 0 auto;
  }
  .footer__social-box {
    margin: 0 auto;
    margin-top: 20px;
  }
  .footer__info {
    margin: 0 auto;
    margin-top: 40px;
  }
  .footer {
    padding-top: 60px;
    margin-top: 0px;
    margin: 0 auto;
    width: 100% !important;
  }
  .footer-wrapper {
    height: 300px;
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */